<section id="app">
  <hr />
  <div class="narrow-container container">
    <div class="jumbotron left-tilt">
      <h1 class="text-center">Github + Kanban = <strong>Gitboard</strong></h1>
      <hr />
      <p class="text-center">Gitboard is a simple and intuitive <strong>Kanban board</strong> for your <strong>Github issues</strong>. Easily manage to-dos, milestones and projects and keep up-to-date on your progress. Gitboard is <strong>open-source</strong> and runs <strong>securely</strong> inside your browser.</p>
      <p class="text-center">
        <a class="btn btn-primary btn-lg btn-success" href="/auth/github" role="button">Log in with github</a>
      </p>
    </div>
  </div>
</section>

<section id="features">
  <div class="narrow-container container">
    <div class="row">
      <div class="col-md-12">
        <a name="features">&nbsp;</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-push-6 diagram">
        <img src="images/homepage/card.svg" />
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h1>See everything at a glance</h1>
        <p class="lead">Gitboard gives you an intuitive and beautiful overview of your Github issues. Forget navigating back and forth to see which issues are in the backlog, being worked on or closed.</p>
        <p class="lead">
          See who's working on what. Move issues between categories by dragging and dropping them. Define time estimates for your issues and track actual working time.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 diagram">
        <img src="images/homepage/arrow.svg" />
      </div>
      <div class="col-md-6">
        <h1>Keep track of your goals</h1>
        <p class="lead">Gitboard helps you to keep track of your goals and the time budget of your team. See aggregate time estimates and actual working time for each milestone. This helps you to discover problems in your project before the deadline hits you hard.</p>
        <p class="lead">
          <strong>Coming soon:</strong> Burndown charts. See if your progress keeps up with your schedule.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-push-6 diagram">
        <img src="images/homepage/astronaut.svg" />
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h1>Built with modern technologies</h1>
        <p class="lead">Gitboard is built with <strong>React.js</strong>, <strong>Bootstrap 3</strong> and <strong>SASS</strong> and <a href="https://fezvrasta.github.io/bootstrap-material-design/">Material Design for Bootstrap</a>.</p>
        <p class="lead">
          It uses a simple, <strong>resource-based</strong> data synchronization scheme and tries to keep complexity to a minimum. Feel free to use Gitboard as inspiration for your own React.js-based projects.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 diagram">
        <img src="images/homepage/mouse.svg" />
      </div>
      <div class="col-md-6">
        <h1>Open-source license</h1>
        <p class="lead">Gitboard is licensed under the <strong>Affero General Public License (AGPL)</strong>. This means that you can adapt it to your needs and freely publish your own version as long as you respect the terms of the license and make your improvements available to the community.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-push-6 diagram">
        <img src="images/homepage/shield.svg" />
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h1>Secure and transparent</h1>
        <p class="lead">Gitboard communicates directly with the Github API without using an intermediate server. This means that your Github access credentials stay on your computer all the time.</p>
        <p class="lead">
          Gitboard will never store your username or password in plaintext and only use them to create an access token. The access token will be held securely in the session storage or local storage of your browser.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 diagram">
        <img src="images/homepage/letter.svg" />
      </div>
      <div class="col-md-6">
        <h1>Questions? Get in touch!</h1>
        <p class="lead">
          If you have questions about Gitboard or if you experience problems using it, please <a href="https://github.com/adewes/gitboard/issues">open an issue</a>. You can also get in touch with me <a href="mailto:andreas.dewes@7scientists.com">via e-mail</a>.
        </p>
        <p class="lead">
          Contributions and feedback are highly welcome! When contributing to the code, please make sure to check out the <a href="https://github.com/adewes/gitboard">README</a> first.
        </p>
      </div>
    </div>
  </div>
</section>
